<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Oldal bemutatása</p>
<p>Regisztráció: <br>
    <ul>
        <li>E-mail</li>
        <li>Facebook: --> Instant beléptet</li>
        <li>Google: --> Instant beléptet</li>
    </ul>
</p>